NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1
MONGODB_URI=mongodb://127.0.0.1:27017/ondo_voting
FACE_SERVICE_BASE_URL=http://localhost:8000
JWT_SECRET=replace-me
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
